Package: dataone-cn-index
Version: 0.0.1
Section: utils
Priority: optional
Architecture: all
Depends: tomcat6, sun-java6-jdk, jsvc, postgresql, libcommons-daemon-java, dataone-cn-solr
Installed-Size: 1 kb
Maintainer: Skye Roseboom <sroseboo@dataone.unm.edu>
Description: This is a metapackage that installs the index components of the dataone coordinating node stack.  The index component handles updating the solr index data source with updates from the dataone system.  In this way the solr index is kept current with the CN's document index.  The index components are responsible for detecting updates to the system metadata objects on the local cn node, and to generate solr index update requests accordingly.
